html, body {
    background: #061539;
    font-family: Sunflower,serif;
    color: White;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body * {
    border: 0 solid red;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0.5em 0em 0em 0em;
}

.app {
    backgroundColor: #061539;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#mainapp {
    display: flex;
    height: 100%;
    width: 100%;
}

#header {
    flex-grow: 4;
    flex-shrink: 3;
    flex-basis: auto;
}

#body {
    flex-grow: 10;
    flex-shrink: 1;
    flex-basis: available;
    width: 100%;
}

.logout {
    text-align: center;
    margin-bottom: 0.5em;
}

.smallB {
    font-size: 0.85em;
}

.footer {
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 5;
    font-size: 0.85em;
    text-align: center;
}

.footerB {
    font-style: italic;
    font-size: 0.9em;
}

.view {
    width: fit-content;
    text-align: center;
}

.content, .buttons {
    text-align: center;
    font-size: 1.25em;
}

.buttons {
    justify-items: center;
}

.emptyBox {
    margin: 0 2.5em 0 0;
}

.description {
    margin-bottom: 0.25em;
}

.button {
    background-color: #162856;
    border: 3px solid #7887AB;
    font-size: 0.85em;
    color: White;
    margin: 0.25em;
    padding: 0.25em 0.75em 0.25em 0.75em;
    text-align: center;
}
.button.gray {
    background-color: #545454;
    border: 3px solid #ababab;
}

.room {
    width: 100%;
    font-size: 1.25em;
    display: flex;
    flex-wrap: wrap;
}

.input, .chatinput {
    margin: 0.5em;
    padding: 0.25em;
    color: White;
    background-color: #061539;
    border: 3px solid #4F618F;
    font-size: 0.85em;
    text-align: center;
}

.chatinput {
    width: 88%;
    font-size: 0.65em;
    text-align: left;
}

.info {
    order: 0;
    flex-grow: 1;
    flex-shrink: 1;
}

.infoContent {
    width: 10em;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

.directive {
    text-align: right;
    font-weight: bolder;
}

.missionImg {
    text-align: center;
}

.players {
    list-style-type: none;
    margin: 0;
    font-size: 0.9em;
    -webkit-padding-start: 1em;
}

.player {
}

.turn {
}

.winner {

}

.chat {
    order: 2;
    flex-grow: 1;
    flex-shrink: 1;
    text-align: center;
    height: 16.6em;
    width: 10em;
}

.chat * {
    word-wrap: break-word;
}

.messages {
    height: 100%;
    text-align: left;
    overflow-y: scroll;
    font-size: 0.75em;
}

.message {
    background-color: #162856;
    border: 2px solid #7887AB;
    border-radius: 3px;
    width: 60%;
    text-align: left;
    padding: 0.5em 1em 0.5em 1em;
    margin: 0.25em auto 0.25em 0.7em;
    position: relative;
}

.message .arrow {
    border-style: solid;
    position: absolute;
}

.bottom {
    border-color: #7887AB transparent transparent transparent;
    border-width: 8px 0px 8px 8px;
    bottom: 1em;
    left: -0.6em;
}

.ownmessage {
    background-color: #162856;
    border: 2px solid #7887AB;
    border-radius: 3px;
    width: 60%;
    text-align: right;
    padding: 0.5em 1em 0.5em 1em;
    margin: 0.25em 0.7em 0.25em auto;
    position: relative;
}

.ownmessage .ownarrow {
    border-style: solid;
    position: absolute;
}

.ownbottom {
    border-color: #7887AB transparent transparent transparent;
    border-width: 8px 8px 8px 0px;
    bottom: 1em;
    right: -0.6em;
}

.username {
    font-size: 0.95em;
    color: #7887AB;
    font-weight: 900;
}

.game {
    order: 1;
    width: 20em;
    height: 20em;
    margin: 0 2em 1em 0;
}

.middle {
    margin-left: auto;
    margin-right: auto;
}

/* ### SNACKBAR ###*/

#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #162856; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 3px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */

    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

/* ### Scroll Bar ### */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #061539;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #4F618F;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #7887AB;
}